<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
        <style>
            /* *{padding: 0; margin: 0} */
            .box{
                position: fixed;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.2);
                display: none;
            }
            .box1{
                width: 500px;
                height: 500px;
                position: fixed;left: 50%; top: 25%;
                margin-left: -250px;
                border: 1px solid #000000;
                background: #ffffff;
            }
        </style>    
    </head>
    <body>
        <div class="box">
            <div class="box1">
                <button id="createBtn" type="button" onclick="checkForm()">确认修改</button>
                <a href="javascript:;" onclick="jQuery('.box').hide()" class="close">关闭</a>
            </div>
        </div>   
        <header>
            <h1 id="title">Markdown</h1> 
        </header>
        <p><button id="logoutBtn" type="button" onclick="clickLogoutBtn()">退出登录</button></p>
        <p><button id="createBtn" type="button" onclick="clickCreateBtn()">创建新文章</button></p>
        <table id="tab">
            <tr>
                <td>Name</td> <td>Create Time</td>
            </tr>
        </table>
    </body> 
    <script src="../lib/js/jquery.min.js"></script>
    <script src="../web/common.js"></script>
    <script src="../web/mdList.js"></script>
</html>